.signupScreen {
    max-width: 300px;
    padding: 70px;
    margin-left: auto;
    margin-right: auto;
    background: rgba(0,0,0,0.9);
}

.signupScreen > form {
    display: grid;
    justify-content: center;
}

.signupScreen > form > h1 {
    margin-bottom: 1rem;
}

.signupScreen__gray {
    color: grey;
}


.signupScreen > form > h4 {
    text-align: left;
    margin-top: 25px;
}

.signupScreen > form > input {
    outline-width: 0;
    height: 40px;
    width: 350px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: none;
    padding: 5px 15px;
}

.signupScreen > form > button {
    padding: 15px 20px;
    font-size: 1rem;
    color: white;
    background-color: #e50914;
    border: none;
    font-weight: 600;
    cursor: pointer;
}

.signupScreen__link:hover {
    cursor: pointer;
    text-decoration: underline;
}